<div class="container">
  <h1> Create a New Post </h1>
  <p> Fill in the details</p>
  <form action="/posts" method="post">
  Title: <input type="text" name="post[title]" size="30"></input><br><br>
  URL: <input type="text" name="post[url]" size="30"></input><br><br>
  Text: <textarea name="post[text]" rows="4" cols="49"></textarea><br><br>
  <input type="submit" value="Submit"></input>
  </form>
</div>